<div onmouseover="showCartMiniDetail(this); return false;"
     onmouseout="hideCartMiniDetail(this); return false;"
     onclick="viewDetail(); return false;"
     class="clickable">
    <span class="badge">@ViewBag.ProductsCount products</span>
</div>
